@model IEnumerable<LivreModel>

<h2>Liste des livres</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>ISBN</th>
        </tr>
    </thead>
</table>


